/*
Name: main.css
Author: Vineet Sawant;
*/
:root{
	--dark-green: #339944;
	--green: #60A062;
	--yellow: #FFCD89;
	--red:  #FD7882;
	--dark-purple: #3C3B54;
	--purple:  #9290E2;
	--light-purple: #A3A0FB;
	--dark-blue: #030CE3;
	--blue: #3B86FF;
	--light-blue: #619DFF;
	--sky-blue: #98BEFB;
	--dark-grey: #4D4F5C;
	--grey: #808495;
	--smoke: #E8E9EC;
	--font: 'Source Sans Pro', 'Lucida Grande', 'Segoe UI', 'Fira Sans', 'Ubuntu', sans-serif;
}
*{
	margin: 0;
	padding: 0;
}
html,body,input,.uk-input,
select,.uk-select,
textarea,.uk-textarea,p{
	font-family: var(--font);
	font-weight: 400;
}

/* UIKit Overrides */

.uk-h1,.uk-h2,.uk-h3,
.uk-h4,.uk-h5,.uk-h6{
	font-family: var(--font);
}
.uk-h1,.uk-h2,.uk-h3,
.uk-h4,.uk-button,strong{
	font-weight: bold;
}
.uk-h5,.uk-h6,.uk-button.uk-button-small{
	font-weight: 600;
}

.uk-background-white{
	background: #FFF
}
.uk-button-success{
	background: var(--green);
	color: #FFF;
}
.uk-button-success:hover{
	background: var(--dark-green);
}
.uk-button,.uk-select,.uk-input,.uk-textarea,
.uk-search-input{
	border-radius: 4px;
}
.uk-border-radius-no-right{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.uk-border-radius-no-left{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.uk-border-radius-remove{
	border-radius: 0;
}

.uk-label-default{
	background: var(--grey);
}
.uk-label-large{
	padding: 6px 12px;
	letter-spacing: 0.75px;
	border-radius: 16px;
	font-size: 13px;
}

.uk-text-33{
	color: #333;
}

.uk-button-bordered.uk-button-primary{
	background: #FFF;
	color: var(--light-blue);
	border: 1px solid var(--light-blue);
}
.uk-button-bordered.uk-button-primary:hover{
	background: var(--sky-blue);
	color: var(--dark-blue);
	border: 1px solid var(--dark-blue);
}

.uk-nav.uk-nav-large li{
	border-left: 5px solid transparent;
	transition: 0.3s ease all;
}
.uk-nav.uk-nav-large li a{
	font-size: 16px;
	padding: 10px;
}
.uk-nav.uk-nav-large li.uk-active,
.uk-nav.uk-nav-large li:hover{
	background: rgba(0,0,0,0.2);
	border-left-color: var(--purple);
}

.uk-background-sky{
	background: var(--sky-blue);
}
.uk-background-green{
	background: var(--green);
}

/* Common Styles */

.sidebar,
.main_content{
	height: 100vh;
	overflow-y: auto;
}
.sidebar{
	width: 250px;
	transition: 0.3s ease all;
	background: var(--dark-purple);
}

.topnav{
	padding: 10px 20px;
	height: 58px;
	box-sizing: border-box;
}

.nav-toggle{
	display: block;
	position: relative;
	width: 24px;
	height: 24px;
	border: 1px solid rgba(255,255,255,0.6);
	text-align: center;
	border-radius: 50%;
	transition: 0.3s ease all;
}
.nav-toggle .uk-icon{
	position: absolute;
	top: 2px;
	left: 0;
	width: 100%;
}
.nav-toggle:hover{
	background: rgba(255,255,255,0.3);
}
.search-button-wrap{
	position: relative;
	margin-left: -1px;
	z-index: 1;
}
.clear-link{
	margin-top: 2px;
}
.clear-link span{
	display: inline-block;
	vertical-align: middle;
}
.close-circle{
	width: 15px;
	height: 15px;
	border: 1px solid #EEE;
	border-radius: 50%;
	margin-left: 8px;
	text-align: center;
}
.close-circle svg{
	display: inline-block;
	width: 10px;
	margin-top: 3px
}
.articles-list{
	list-style: none;
	margin: 0;
	padding: 0;
}
.articles-list li{
	background: #FFF;
	margin-bottom: 15px;
	padding: 15px;
	transition: 0.2s ease all;
	box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.1);
}
.articles-list:hover li{
	background: #fCfCfC;
}
.articles-list li:hover{
	background: #FFF;
	box-shadow: 0px 2px 15px -1px rgba(0,0,0,0.2);
}
.sorter-body{
	height: 78vh;
	overflow-y: auto;
	overflow-x: hidden;
}
.output-list{
	list-style: none;
	margin: 0;
	padding: 0;
}
.w5{width: 5%;}
.w10{width: 10%;}
.w15{width: 15%;}
.w20{width: 20%;}
.w30{width: 30%;}
.w40{width: 40%;}
.w45{width: 45%;}
.w60{width: 60%;}
.w70{width: 70%;}
.w80{width: 80%;}
.w90{width: 90%;}
.w95{width: 95%;}
.w100{width: 100%;}

.uk-badge.uk-badge-default{
	background: var(--smoke);
	color: var(--dark-grey);
	border: 1px solid var(--dark-grey);
	padding: 8px 12px;
	min-height: 30px;
	border-radius: 8px;
	margin: 5px;
}
.uk-badge.uk-badge-default .uk-icon{
	margin-left: 5px;
}
.tabs-custom.uk-subnav{
	margin-left: 0;
	margin-bottom: -15px;
}
.tabs-custom.uk-subnav>*{
	padding-left: 0;
	padding-right: 4px;
}
.tabs-custom.uk-subnav-pill>li>a{
	border-radius: 4px 4px 0 0;
	padding: 12px 25px;
	background: var(--grey);
	color: #FFF;
	font-weight: bold;
	transition: 0.3s ease all;
}
.tabs-custom.uk-subnav-pill>li>a:hover{
	background: var(--dark-grey);
}
.tabs-custom.uk-subnav-pill>li.uk-active>a{
	background: var(--blue);
}
.article-nav{
	padding-bottom: 10px;
}
.article-body{
	padding: 10px;
}
.actions-toolbar-bottom{
	position: relative;
	border-top: 1px solid var(--smoke);
	box-shadow: 0px -3px 6px -1px rgba(0,0,0,0.2);
	z-index: 10;
}
.article-footer .actions-toolbar-bottom{
	padding: 10px 0;
}
.lead-image{
	background: var(--smoke) url(https://icongr.am/fontawesome/image.svg?color=999999) center center no-repeat;
}

/* -----------------------------
Switch */

.uk-switch {
  position: relative;
  display: inline-block;
  height: 34px;
  width: 60px;
}

/* Hide default HTML checkbox */
.uk-switch input {
  display:none;
}
/* Slider */
.uk-switch-slider {
  background-color: rgba(0,0,0,0.22);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 500px;
  bottom: 0;
  cursor: pointer;
  transition-property: background-color;
	transition-duration: .2s;
  box-shadow: inset 0 0 2px rgba(0,0,0,0.07);
}
/* Switch pointer */
.uk-switch-slider:before {
  content: '';
  background-color: #fff;
  position: absolute;
  width: 30px;
  height: 30px;
  left: 2px;
  bottom: 2px;
  border-radius: 50%;
  transition-property: transform, box-shadow;
	transition-duration: .2s;
}


.uk-switch.uk-switch-small {
  height: 24px;
  width: 40px;
}
.uk-switch.uk-switch-small .uk-switch-slider:before{
	width: 20px;
	height: 20px;
}

/* Slider active color */
input:checked + .uk-switch-slider {
  background-color: #39f !important;
}
/* Pointer active animation */
input:checked + .uk-switch-slider:before {
  transform: translateX(26px);
}
.uk-switch-small input:checked + .uk-switch-slider:before {
  transform: translateX(16px);
}


/* Modifiers */
.uk-switch-slider.uk-switch-on-off {
  background-color: #f0506e;
}
input:checked + .uk-switch-slider.uk-switch-on-off {
  background-color: #32d296 !important;
}

/* Style Modifier */
.uk-switch-slider.uk-switch-big:before {
  transform: scale(1.2);
  box-shadow: 0 0 6px rgba(0,0,0,0.22);
}
.uk-switch-slider.uk-switch-small:before {
  box-shadow: 0 0 6px rgba(0,0,0,0.22);
}
input:checked + .uk-switch-slider.uk-switch-big:before {
  transform: translateX(26px) scale(1.2);
}

/* Inverse Modifier - affects only default */
.uk-light .uk-switch-slider:not(.uk-switch-on-off) {
  background-color: rgba(255,255,255,0.22);
}

.uk-border-bottom{
	border-bottom: 1px solid var(--smoke);
}

.pb10{
	padding-bottom: 10px
}
.spacer{
	height: 20px;
	width: calc(100% + 82px);
	margin: 15px -40px;
	background: #F6F6F6;
	box-shadow: inset 0px 3px 5px -1px rgba(0,0,0,0.1);
}
.uk-panel.uk-panel-bordered{
	border: 1px solid var(--smoke);
	border-radius: 4px;
}
.uk-panel label>span{
	margin-left: 10px;
}
.uk-toast{
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 1000;
}
.uk-toast.uk-toast-success{
	border-left: 15px solid var(--green);
}
.collection-table th{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
}